{% extends 'logged/base_logged.html' %}

{% block body %}

<div class="pricing-header px-5 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4 class="display-4">Historial Incubaciones</h4>
    {% for i in incubaciones %}
<button class="accordion text-center">{{ i['nombre']}}</button>
<div class="panel">
    <div class="card-body">					
        Rangos de humedad: {{ i['adv_config']['humedad'][0]}} , {{ i['adv_config']['humedad'][1]}}<br>
        Rangos de temperatura: {{ i['adv_config']['temperatura'][0]}} , {{ i['adv_config']['temperatura'][1]}}<br>
        Rotaciones por dia: {{i['adv_config']['rotaciones']}}<br>
        Dias de incubacion: {{i['adv_config']['dias']}}<br>
    </div>
</div>

{% endfor %}

    

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
  

{% endblock %}

