{% extends 'logged/base_logged.html' %}
{% block body %}

<button onclick="hide()">Incubacion personalizada</button>

<div id="personalizadas" style="display: none;">
    <form method="POST" action="{{url_for('nueva_incubacion')}}">
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" required><br>

        <label>Rango de humedad:</label><br>
        <input type="number" name="humedad_sup" placeholder="Humedad maxima" required>
        <input type="number" name="humedad_inf" placeholder="Humedad minima" required><br>

        <label >Rangos temperatura:</label><br>
        <input type="number" name="temperatura_sup" placeholder="Tempreratura maxima" required>
        <input type="number" name="temperatura_inf" placeholder="Temperatura minima" required><br>

        <label for="rotaciones">Rotaciones por dia:</label>
        <input type="number" name="rotaciones" required><br>

        <label for="dias">Dias de incubacion:</label>
        <input type="number" name="dias" required><br>

        <input type="hidden" value="personalizada" name="n_formulario">
        

        <input type="submit" onclick="pop_out()" value="Submit"><br>
    </form>
</div>

<br>
<br>

<button onclick="hide1()">Incubacion preestablecida</button>
<div id="preestablecidas" style="display: none;">
    <form method="POST" action="{{url_for('nueva_incubacion')}}" name="config_preestablecidas">
        <label for="nombre">Nombre:</label><br>
        <input type="text" name="nombre" required><br>
        <select name="nombre_i">
            {% for i in configurations %}
            <option value="{{i['nombre']}}">{{i['nombre']}}</option>
            {% endfor %}
        </select>
        <input onclick="pop_out()" type="submit" value="Submit"><br>
        <input type="hidden" value="preestablecida" name="n_formulario">
    </form>    
</div>

<script>
    function pop_out(){
        confirm("Estas seguro de querer realizar una nueva incubacion?, tu incubacion actual sera reiniciada.");
    }

    function hide(){
        var x = document.getElementById("personalizadas");
        if(x.style.display == "none"){
            x.style.display = "block";
        }
        else{
            x.style.display = "none";
        }
    }

    function hide1(){
        var x = document.getElementById("preestablecidas");
        if(x.style.display == "none"){
            x.style.display = "block";
        }
        else{
            x.style.display = "none";
        }
    }
</script>
{% endblock %}