{% extends 'logged/base_logged.html' %}

{% block body %}
<div class="pricing-header px-5 py-3 pt-md-5 pb-md-4 mx-auto">
    <div class="card w-50">
        <h5 class="card-header">Configuraciones de {{ incubacion['nombre']}}</h5>
        <div class="card-body">
            <ul>
                <li>Rangos de humedad: {{ incubacion['adv_config']['humedad'][0]}} , {{ incubacion['adv_config']['humedad'][1]}}</li>
                <li>Rangos de humedad: {{ incubacion['adv_config']['humedad'][0]}} , {{ incubacion['adv_config']['humedad'][1]}}</li>
                <li> Rotaciones por dia: {{incubacion['adv_config']['rotaciones']}}</li>
                <li> Dias de incubacion: {{incubacion['adv_config']['dias']}}</li>
            </ul>      
        </div>
    </div>
</div>

{% endblock %}