{% extends 'logged/base_logged.html' %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<div class="container px-4 py-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <h5 class="card-header">Configuraciones de {{ incubacion['nombre']}}</h5>
                <div class="card-body">
                    <ul>
                        <li>Rangos de humedad: {{ incubacion['adv_config']['humedad'][0]}} , {{ incubacion['adv_config']['humedad'][1]}}</li>
                        <li>Rangos de temperatura: {{ incubacion['adv_config']['temperatura'][0]}} , {{ incubacion['adv_config']['temperatura'][1]}}</li>
                        <li>Rotaciones por dia: {{incubacion['adv_config']['rotaciones']}}</li>
                        <li>Dias de incubacion: {{incubacion['adv_config']['dias']}}</li>
                    </ul>      
                </div>
            </div>
        </div>
        <div class="col-sm-6">
        <div class="card bg-dark">
            <div class="card-body">
                <div style=" display: block; height : 163px; overflow-y: scroll;">
                    <table id="tabla1" class="table table-dark table-sm"> 
                        <thead id="fila">
                            <tr class="table-active" style="font-size:15px">
                                <th scope="col">Hora</th>
                                <th scope="col">Detalle</th>
                            </tr>
                            
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5">
    <div class="row">
        <div class="col-sm-6">
        <div class="card bg-dark">
            <div class="card-body">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card bg-dark">
            <div class="card-body">
                <canvas id="canvas2"></canvas>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <h5 class="card-header">Estado sensor de movimiento</h5>
                <div class="card-body">
                    <button id="activo" type="button" class="btn btn-success">Activo</button>
                    <button style="display: none;" id="inactivo" type="button" class="btn btn-danger">En pausa</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Humedad",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                    }
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Humedad en "Tiempo real" ',
                    fontColor: 'white'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time',
                            fontColor: 'white'
                        },
                        ticks:{
                            fontColor: 'white'
                        },
                        gridLines:{
                            color: '#949494'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value',
                            fontColor: 'white'
                        },
                        ticks:{
                            fontColor: 'white'
                        },
                        gridLines:{
                            color: '#949494'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data-hum");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 10) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            if(data.value > data.max){
                addRow('tabla1',data.time,'Humedad sobre los limites. (' + data.value + '%)','humedad');
            }
            else if(data.value < data.min){
                addRow("tabla1",data.time,'Humedad bajo los limites. (' + data.value + '%)','humedad');
            }
            if(data.puerta == '1'){
                addRow("tabla1", data.time,'La puerta ha sido abierta','puerta');
                change_statement('activo','inactivo','1');

            }
            else{
                change_statement('activo','inactivo','0');
            }
            if(data.movimiento == '1'){
                addRow("tabla1", data.time,'Se ha detectado movimiento en los huevos','huevos')
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
        }
    });

    function change_statement(id1, id2, valor){
        let ref = document.getElementById(id1);
        let ref2 = document.getElementById(id2);
        
        if(valor == 1){
            ref.style.display = "none";
            ref2.style.display = "inline";
        }
        else{
            ref2.style.display = "none";
            ref.style.display = "inline";
            
        }
    }

    function addRow(tableID, text,text2,ident){
        let tableRef = document.getElementById(tableID);

        let newRow = tableRef.insertRow(1);
        
        let newCell1 = newRow.insertCell(0); 
        let newCell2 = newRow.insertCell(1); 

        if(ident == 'humedad'){
            // newCell1.classList.add('bg-danger');
            newCell1.style.backgroundColor = 'rgb(255, 99, 132)';
            newCell2.style.backgroundColor = 'rgb(255, 99, 132)';
        }
        else if(ident == 'temperatura'){
            newCell1.style.backgroundColor = 'rgb(0, 203, 203)';
            newCell2.style.backgroundColor = 'rgb(0, 203, 203)';
        }
        else if(ident == 'huevos'){
            newCell1.style.backgroundColor = 'rgb(102, 204, 0)';
            newCell2.style.backgroundColor = 'rgb(102, 204, 0)';
        }
        else{
            newCell1.classList.add('bg-warning');
            newCell2.classList.add('bg-warning');
        }
        
        newCell1.innerHTML = text
        newCell2.innerHTML = text2
    }
</script>

<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Temperatura",
                    backgroundColor: 'cyan',
                    borderColor: 'cyan',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "white",
                    }
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Temperatura en "Tiempo real" ',
                    fontColor: 'white'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time',
                            fontColor: 'white'
                        },
                        ticks:{
                            fontColor: 'white'
                        },
                        gridLines:{
                            color: '#949494'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value',
                            fontColor: 'white'
                        },
                        ticks:{
                            fontColor: 'white'
                        },
                        gridLines:{
                            color: '#949494'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas2').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data-temp");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 10) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            if(data.value > data.max){
                addRow('tabla1',data.time,'Temperatura sobre los limites. (' + data.value + '°C)', 'temperatura');
            }
            else if(data.value < data.min){
                addRow("tabla1",data.time,'Temperatura bajo los limites.(' + data.value + '°C)','temperatura');
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
        }
    });
</script>

{% endblock %}