{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1 class="mt-5 text-blue">Motivación</h1>
    <p class="lead text-white">A lo largo de los años, el humano ha cazado aves por deporte o para comer su carne. Las aves
        que no se incluyen en la caza son las de corral, perteneciendo a éste último tipo las siguientes: la
        gallina, el pato, la codorniz, el avestruz, etc. Domesticar un ave significa manipular y controlar las
        condiciones de vida y crianza del animal. Frecuentemente la crianza de una especie es selectiva,
        esto quiere decir que se seleccionan, en este caso, algunas aves con cualidades especiales, como la
        puesta abundante de huevos y proporción de carne.
    <p class="lead text-white">Una incubadora es una herramienta fundamental para el desarrollo de la producción agrícola, la
        cual aumenta los niveles de esta debido al control que se tiene en la fase de formación y crecimiento
        del embrión proliferando las probabilidades de que este sobreviva.</p>
    <p class="lead text-white">Hoy en día las incubadoras comerciales no poseen una aplicación para poder monitorear a distancia las condiciones de las incubadoras. 
        Por ello con este producto buscamos suplir esta necesidad.</p>
  </div>

{% endblock %}