{% extends 'base.html' %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-3 mx-auto text-center">
  <form method="POST" action="{{url_for('log_user')}}">
      <div class="form-group row text-center">
          <div class="col-sm-6 col-form-label mx-auto text-center">
              <label class ="text-light " for="validationTooltip01">Nombre</label>
              <input name ="username" type="text" class="form-control" placeholder="Pepe" required>
            </div>
            <div class="col-sm-6 col-form-label mx-auto text-center">
              <label class ="text-light" for="validationTooltip02">Contraseña</label>
              <input name ="password" type="password" class="form-control" placeholder="" required>
          </div>
      </div>
      <button class="btn btn-success col-md-6 mb-3" type="submit" value="Submit">Inciar sesión</button>
  </form>
  {% if message%}
    <div class="alert alert-danger" role="alert">
      Usted ya esta registrado!
    </div>
  {% endif%}
</div>
  
{% endblock %}