{% extends 'base.html' %}

{% block body %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <form method="POST" action="{{url_for('register')}}">
            <div class="form-group row text-center">
                <div class="col-sm-4 col-form-label">
                    <label class ="text-light " for="validationTooltip01">Nombre</label>
                    <input name ="username" type="text" class="form-control" placeholder="Pepe" required>
                </div>
                <div class="col-sm-4 col-form-label">
                    <label class ="text-light" for="validationTooltip02">Mail</label>
                    <input name ="mail" type="email" class="form-control" placeholder="pepe@gmail.com"required>
                </div>
                <div class="col-sm-4 col-form-label">
                    <label class ="text-light" for="validationTooltip02">Contraseña</label>
                    <input name ="password" type="password" class="form-control" placeholder="" required>
                </div>
                <div class="col-sm-4 col-form-label">
                    <label class ="text-light" for="validationTooltip02">IncubadoraID</label>
                    <input name ="id_incubadora" type="number" class="form-control" placeholder="123" required>
                </div>
            
            </div>
            <button class="btn btn-success col-md-6 mb-3" type="submit" value="Submit">Registrarse</button>

        </form>
    </div>
{% endblock %}